alembic==1.19.1
fastapi==0.141.1
openai==3.8.0
pgvector==0.5.0
psycopg[binary]==3.3.5
pydantic[email]==2.13.5
PyJWT==2.13.0
pwdlib[argon2]==0.3.1
python-dotenv==1.2.3
python-multipart==0.0.32
rarfile==4.5
SQLAlchemy==2.0.52
uvicorn[standard]==0.52.4